* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --transition: 1s cubic-bezier(0.125, 0.495, 0, 1);
}

@font-face {
  font-family: base;
  src: url(font/mikron\ font.otf);
  font-weight: 400;
}
@font-face {
  font-family: addit;
  src: url(font/TheBoldFontPro\(CyrLat\)-Bold.ttf);
  font-weight: 400;
}

body {
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: base;
  overflow-x: hidden;
  z-index: 0;
  
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/heart.svg'); 
    background-repeat: repeat;
    background-size: 200px;  
    opacity: 0.3;           
    z-index: 0;
    pointer-events: none;    
    animation: slideDiagonal 10s linear infinite;
}

@keyframes slideDiagonal {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200px 200px;
    }
}

footer {
    background-color: rgb(15, 15, 15);
    height: 300px;
    position: relative;
    top: 0px;
}

main {
    background-color: rgb(17, 17, 17);
    height: 1000px;
    z-index: 0;
    position: sticky;
}

header {
    position: absolute;
    height: 200px;
    top: 0px;
    left: 0px;
    width: 110vw;
    z-index: 100;     
    padding: 20px;
    background: linear-gradient(
        to bottom,
        rgba(1, 1, 1, 1) 0%,
        rgba(1, 1, 1, 0.6) 60%,
        rgba(1, 1, 1, 0.2) 80%,
        transparent 100%
    );
}
header nav {
    margin-top: 10px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
    display: inline-block;
    transition: transform 0.3s ease;
}
header nav a:hover {
  transform: scale(1.15);

}
/* .layers {
  perspective: 10000px;
  overflow: hidden;
} */

.layers_container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));

  will-change: transform;
  transition: transform var(--transition);
}

.layers_item {
  position: absolute;
  /* transform: translate(0%, 0%); */
  /* top: 0;
  right: 0; */
  /* height: 100px; */
  /* top: -5vw;
    left: -5vw;
    right: -5vw;
    bottom: -5vw; */
  /* inset: 500px, 500px; */
  /* transform: rotateX(var(--move-y)) rotateY(var(--move-x)); */
}

.layer1 {
    transform: translateZ(50px) scale(1.08);
    top: 15vh;
    left: 38%;
    transform: translateX(-40%) translateZ(50px) scale(1.08);
    font-size: clamp(24px, 15vw, 15vh);
    white-space: nowrap;
}

.layer2 {
    transform: translateZ(60px) scale(1);
    top: 32vh;
    left: 22vw;
    backdrop-filter: blur(5px);
    width: 700px;
}

.layer3 {
    transform: translateZ(0px) scale(1.2);
    top: 22%;
    right: 2.5%;
    height: 80%;
}

.layer3_1 {
    transform: translateZ(-50px) scale(1.3);
    top: 23%;
    right: 2.5%;
    height: 80%;
}

.layer3_2 {
    transform: translateZ(-100px) scale(1.3);
    top: 22vh;
    right: 5vh;
    height: 40vw;
}

.layer4 {
    transform: translateZ(0px) scale(1);
    background-color: rgba(255, 255, 255, 0.062);
    height: 5vh;
    width: 20vw;
    position: absolute;
    left: 40%;
    top: 95%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.layer4 p {
    margin: 1vh 5.3vw;
    font-family: addit;
    font-size: 1.2vw;
    color: rgb(150, 26, 62);
}


.main_button {
    background: none;
    backdrop-filter: blur(4px);
    color: white;
    text-transform: uppercase;
    width: 18vw;
    height: 10vw;
    border-radius: 20px;
    font-family: base;
    font-weight: 600;
    font-size: 4vw;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.496);
    min-width: 120px;
    min-height: 50px;
}

/* @media (min-width: 800px) and (min-height: 1090px) {
    .layer2 {
        
    }
} */

/* @media (max-width: 400px) and (max-height: 800px) {
    .layer2 {
        width: 100px;
    }
} */

/* .main_button:hover {
  transform: scale(150%);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0);
} */
.main_button:active {
  transform: scale(80%);
}